@use './var.scss' as *;

@mixin g-button-disable-style {
  cursor: not-allowed;

  &,
  &:active,
  &:focus,
  &:hover {
    color: $g-button-disabled-color;
    border-color: $g-button-disabled-background-color;
    background-color: $g-button-disabled-border-color;
  }
}
