@use '@galaxy/sass-bem/bem' as *;

@use '../common/var.scss' as *;
@use './var.scss' as *;
@use './mixins.scss' as *;

@include component('button', $namespace) {
  display: inline-block;
  margin: 0;
  padding: $g-button-padding;
  line-height: 16px;
  transition: 0.1s;
  cursor: pointer;
  box-sizing: border-box;

  font-size: $g-button-font;
  text-align: center;
  white-space: nowrap;

  color: $g-button-default-color;
  background: $g-button-default-background-color;

  outline: none;
  border: 1px solid;
  border-color: $g-button-default-border-color;
  border-radius: 4px;

  -webkit-appearance: none;
  // 禁止选中按钮文字
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  &:focus,
  &:hover {
    color: $g-button-default-hover-color;
    border-color: $g-button-default-hover-border-color;
    background-color: $g-button-default-hover-background-color;
  }

  // ======================================================
  //                         类型
  // ======================================================

  // 默认按钮
  @include modifier('default') {
    &:not(.is-disabled) i {
      color: #666;
    }
  }

  // 主要按钮
  @include modifier('primary') {
    color: $g-button-primary-color;
    background-color: $g-button-primary-background-color;
    border-color: $g-button-primary-border-color;

    &:focus,
    &:hover {
      color: $g-button-primary-hover-color;
      background-color: $g-button-primary-hover-background-color;
      border-color: $g-button-primary-hover-border-color;
    }
  }

  // ======================================================
  //                         变种
  // ======================================================

  // 链接按钮
  @include modifier('link') {
    background: transparent;
    border-color: transparent;
    color: $g-button-link-color;

    &:focus,
    &:hover {
      color: $g-button-link-hover-color;
      background-color: transparent;
      border-color: transparent;
    }
  }

  // 朴素按钮
  @include modifier('plain') {
    // 组合样式：主要按钮 + 朴素按钮
    @include while('primary') {
      color: $g-button-primary-plain-color;
      background: $g-button-primary-plain-background-color;
      border-color: $g-button-primary-plain-border-color;

      @include hover {
        background: $g-button-primary-plain-hover-background-color;
        border-color: $g-button-primary-plain-hover-border-color;
      }
    }
  }

  // ======================================================
  //                         尺寸
  // ======================================================

  // 大按钮
  @include modifier('large') {
    min-width: 96px;
    padding: $g-button-large-padding;
    font-size: $g-button-large-font;
    border-radius: 4px;
  }

  // 中等按钮
  @include modifier('medium') {
    border-radius: 4px;
    padding: $g-button-medium-padding;
    font-size: $g-button-medium-font;
  }

  // 小按钮
  @include modifier('small') {
    padding: $g-button-small-padding;
    font-size: $g-button-small-font;
    border-radius: 4px;

    i {
      font-size: $g-button-small-i-font;
    }
  }

  // ======================================================
  //                         圆角
  // ======================================================

  // 圆角
  @include modifier('round') {
    border-radius: 20px;
  }

  // 圆形
  @include modifier('circle') {
    width: 24px;
    max-width: 24px;
    height: 24px;
    max-height: 24px;
    padding: 0;
    border-radius: 50%;
  }

  // ======================================================
  //                         状态
  // ======================================================

  // 禁用
  @include is('disabled') {
    @include g-button-disable-style;

    // 文字按钮
    @include while('text') {
      &,
      &:focus,
      &:hover,
      &:active {
        color: $g-button-disabled-color;
        border-color: transparent;
        background-color: transparent;
      }
    }
  }

  // 加载中
  @include is('loading') {
    position: relative;
    pointer-events: none;

    @include before {
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;
      background-color: hsla(0, 0%, 100%, 0.35);
      border-radius: inherit;
      content: '';
      pointer-events: none;
    }

    // 覆盖其他关联组件
    @include component('icon-loading', $namespace) {
      animation: rotating 2s linear infinite;
    }
  }
}
